/* BEGIN general styles*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* END general styles*/
/* BEGIN Jumbotron styles*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* END Jumbotron styles*/
/* BEGIN schedule block styles*/
.textarea {
  background: transparent;
  resize: none;
  color: #000000;
  border: 0;
}
.description{
  white-space: pre-wrap;
}
.time-block{
  text-align: right;
  border-radius: 15px;
  font-size: 22px;
}
.form-control:valid {
  background: transparent;
  color: black;
  border: none;
}
.form-control:focus {
  margin: 10px;
}
.row {
  white-space: pre-wrap;
  height: 80px;
  min-height: 75px;
}
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  top: 0px;
  right: 0px;
}
/* END schedule block styles*/
/* BEGIN schedule block- TIME styles*/
.past {
  background-color: #d3d3d3;
  color: black;
  border: 1px solid white;
}
.present {
  background-color: #ff6961;
  color: black;
  border: 1px solid white;
}
.future {
  background-color: #77dd77;
  color: black;
  border: 1px solid white;
}
/* END schedule block- TIME styles*/
/* BEGIN button styles*/
.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  min-height: 75px;
  min-width: 75px;
}
.saveBtn:hover {
  font-size: 28px;
  transition: all .3s ease-in-out;
  color: grey;
}
/* END button styles*/
/* BEGIN media query for phones */
@media screen and (max-width: 576px) {
.row {
  margin-bottom: 80px;
}
/* END media query for phones */